{% extends 'layout.html' %}

{% block content %}
{% if user %}
    <script type="text/javascript">
        alert("이미 로그인되어있습니다.");
        location.href="/";
    </script>
{% else %}
    <form method="post" action="/auth/join">
        <h3 class="text-center">회원가입</h3>
        <div class="form-group row">
            <label for="inputEmail" class="col-sm-3 col-form-label">이메일</label>
            <div class="col-sm-9">
                <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" required autofocus>
                <div class=""id="inputEmailValid"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">비밀번호</label>
            <div class="col-sm-9">
                <input type="password" name="password" minlength="8" maxlength="20" class="form-control" id="inputPassword" placeholder="Password" required>
                <div class=""id="inputPasswordValid"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputConfirm" class="col-sm-3 col-form-label">비밀번호 확인</label>
            <div class="col-sm-9">
                <input type="password" name="confirm" minlength="8" maxlength="20" class="form-control" id="inputConfirm" placeholder="Confirm Password" required>
                <div class=""id="inputConfirmValid"></div>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputNick" class="col-sm-3 col-form-label">닉네임</label>
            <div class="col-sm-9">
                <input type="text" name="nickname" class="form-control" id="inputNickname" placeholder="Nickname" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">동의</div>
            <div class="col-sm-9">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agree" required>
                    <label class="form-check-label" for="agree">
                        정보 제공에 동의해주세요.
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="register" class="btn btn-primary" onclick="$('#spinner').addClass('spinner-border spinner-border-sm');">
                <span id="spinner" class="text-light" role="status" aria-hidden="true"></span>
                가입하기
            </button>
        </div>
    </form>
{% endif %}
{% endblock %}